<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head') %>
        <title>Blog</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="container mt-4" style="background-color: ghostwhite;">
            <h1>
                <%= blog.title %>
            </h1>
            <div class="container" style="display: flex; justify-content: center;">
                <img src="<%= blog.coverImageURL %>" height="400px" width="auto" />
            </div>
            <p class="mt-4">
                <%= blog.body %>
            </p>
        </div>
        <div class="container">
            <img src="<%= blog.createdBy.profileImageUrl %>" width="70px">
            <%= blog.createdBy.fullName %>
        </div>
        <!-- <%= JSON.stringify(locals) %> -->
        <div class="container mt-4">
            <h1>Comment (<%= comments.length %>)</h1>
            <% if(locals.user) { %>
                <form action="/blog/comment/<%= blog._id %>" method="post">
                    <div class="mb-3">
                        <textarea type="text" name="content" class="form-control" placeholder="Enter your comment"
                            id="content" aria-describedby="content"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <% } %>
                    <div class="mt-3">
                        <% comments.forEach(comment=> { %>
                            <div>
                                <img src="<%= comment.createdBy.profileImageUrl %>" width="50px" />
                                <%= comment.createdBy.fullName %>
                                    <pre><%= comment.content %></pre>
                            </div>
                            <%})%>
                    </div>
        </div>
        <%- include('./partials/script') %>
</body>